<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <context-param>
        <param-name>intContextParameter</param-name>
        <param-value>1000</param-value>
    </context-param>
    <servlet>
        <servlet-name>controller01</servlet-name>
        <servlet-class>net.rafaelaznar.servletscopes.controller01</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controller02</servlet-name>
        <servlet-class>net.rafaelaznar.servletscopes.controller02</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controller03</servlet-name>
        <servlet-class>net.rafaelaznar.servletscopes.controller03</servlet-class>
        <init-param>
            <param-name>intConfigParameter</param-name>
            <param-value>100</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>controller04</servlet-name>
        <servlet-class>net.rafaelaznar.servletscopes.controller04</servlet-class>
        <init-param>
            <param-name>intConfigParameter</param-name>
            <param-value>150</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>controller05</servlet-name>
        <servlet-class>net.rafaelaznar.servletscopes.controller05</servlet-class>
    </servlet>    
    <servlet>
        <servlet-name>Log4JInitServlet</servlet-name>
        <servlet-class>net.rafaelaznar.log4j.Log4JInitServlet</servlet-class>
        <init-param>
            <param-name>log4j-properties-location</param-name>
            <param-value>WEB-INF/log4j.properties</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>    
    <servlet-mapping>
        <servlet-name>controller01</servlet-name>
        <url-pattern>/controller01</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controller02</servlet-name>
        <url-pattern>/controller02</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controller03</servlet-name>
        <url-pattern>/controller03</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controller04</servlet-name>
        <url-pattern>/controller04</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controller05</servlet-name>
        <url-pattern>/controller05</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <init-param>
        <param-name>intConfigParameter</param-name>
        <param-value>100</param-value>
    </init-param>
</web-app>
